.app{
    background-image: url('../img/bgr.jpg');
    background-size: cover;
    height: 100%;
    //border: 1px solid black;
}

.main{
    border: 0px solid none;
    width: 90%;
    height: 95%;
    margin: 2.5% 5%;
}
h1 {
    color: rgb(255, 51, 0);
    font-size: 30px;
}

.container{
    //border: 0px solid none;
    height: 70px;
    //margin: 0;
}
