.footer{
    background-color: rgb(161, 252, 255);
    height: 20px;
    line-height: 20px;
    //border: 0px solid none;
}

p[name=copyright]{
    font-size: 10px;
    color: blue;
    margin-left: 100px;
}