* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    padding: 30px;
}
.content{
    width: 100%;
    height: 100%;
    img[name=cross]{
        width: 25px;
        height: 25px;
        float: left;
        opacity: 0.7;
    }
    a[name=signup]{
        text-decoration: none;
        width: 100px;
        height: 50px;
        border-radius: 15px;
        text-transform: uppercase;
        border: 2px solid #E5E5E5;
        display: block;
        line-height: 45px;
        align-items: center;
        text-align: center;
        border-bottom: 4px solid #E5E5E5;
        color: #1CB0F6;
        font-size: 15px;
        margin-left: auto;
        font-weight: bold;
    }
    a[name=signup]:hover {
        background-color: rgba(175, 175, 175, 0.658);
    }
    .main{
        width: 375px;
        height: 550px;
        position: absolute;
        top: 40%;
        left: 50%;
        margin: -210px 0 0 -200px;
        h1[name=login]{
            text-align: center;
            font-size: 26px;
            padding-bottom: 30px;
            font-family: sans-serif;
            font-weight: bold;
        }
        .inp{
            input{
                width: 340px;
                position: absolute;
                background-color: transparent;
                border-color: transparent;
            }

            .inp1{
                width: 100%;
                height: 45px;
                background: #f7f7f7;
                border: 2px solid #e5e5e5;
                border-radius: 16px;
                margin: 8px 0 0;
                input{
                    padding: 6px 12px;
                    margin: 4.5px 15.5px;
                }
            }
        }
        a[name=signin]{
            text-decoration: none;
            width: 100%;
            height: 50px;
            border-radius: 15px;
            text-transform: uppercase;
            border: transparent;
            box-shadow: 0 4px #1899D6;
            display: block;
            line-height: 50px;
            align-items: center;
            text-align: center;
            color: white;
            font-size: 15px;
            margin-left: auto;
            font-weight: bold;
            margin-top: 20px;
            background-color: #1CB0F6;
        }
        a[name=signin]:hover {
            background-color: #57c5f8;
        }
        .hr{
            hr{
                margin: 30px auto;
                background-color: #E5E5E5;
            }
            .or{
                width: 60px;
                height: 20px;
                background-color: white;
                margin-inline: auto;
                text-align: center;
                margin-top: -42px;
                text-transform: uppercase;
                font-weight: bold;
                color: #AFAFAF;
            }
        }
        .inp5{
            a[name=fb]{
                width: 180px;
                height: 100%;
                text-decoration: none;
                border-radius: 15px;
                text-transform: uppercase;
                border: 1px solid #E5E5E5;
                box-shadow: 0 4px #E5E5E5;
                display: block;
                line-height: 50px;
                align-items: center;
                text-align: center;
                color: #3B5998;
                font-size: 15px;
                font-weight: bold;
                margin-top: 20px;
                background-color: white;
                float: left;
                img[name=fb]{
                    width: 15px;
                    height: 15px;
                }
            }
            a[name=fb]:hover{
                background-color: #f7f7f7;
            }
            a[name=gg]{
                width: 180px;
                height: 100%;
                text-decoration: none;
                border-radius: 15px;
                text-transform: uppercase;
                border: 1px solid #E5E5E5;
                box-shadow: 0 4px #E5E5E5;
                display: block;
                line-height: 50px;
                align-items: center;
                text-align: center;
                color: #3B5998;
                font-size: 15px;
                font-weight: bold;
                margin-top: 20px;
                background-color: white;
                float: right;
                img[name=gg]{
                    width: 15px;
                    height: 15px;
                }
            }
            a[name=gg]:hover{
                background-color: #f7f7f7;
            }
        }
        .botton{
            width: 100%;
            height: 70px;
            p[name=rule]{
                color: #888888;
                margin-top: 120px;
                text-align: center;
                a[name=rule]{
                    text-decoration: none;
                    color: #616161;
                }
            }
        }
    }
}