
<div class="col-sm-10">
    <a href="#" name="signup">Sign up</a>
    <label name="account">Account:</label>
    <input name="account">
    <label name="pass">Password:</label>
    <input name="pass">
    <button name="login">Login</button>
    <a href="#" name="forgot">Click here</a>
    <lable name="forgot">Forgot password?</lable>
</div>
