<head>
    <link rel="stylesheet" href="/css/app.css"/>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<div class="home">
    <h1>HOME PAGE</h1>
    <a href="regiter">link</a>
</div>
