<head>
    <link rel="stylesheet" href="/css/introduce.css">
</head>
<div class="header">
    <h2 name="game">vocab</h2>
    <li>
        <a href="#" name="languages">NGÔN NGỮ HIỂN THỊ : TIẾNG VIỆT
            <img src="../img/arrow.png" alt="arrow" name="arrow">
        </a>
    </li>
</div>
<div class="top">
    <div class="top__content">
<div class="circle1">
        <div class="circle2">
            <div class="circle3">
                
            </div>
        </div>
    </div>
    <div class="topright">
        <h1 name="tor">Học ngoại ngữ khi chơi game</h1>
        <table>
            <tr>
                <td>
                  <a href="regiter" name="signup">Bắt đầu</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="login" name="signin">Tôi đã có tài khoản</a>
                </td>
            </tr>
        </table>
    </div>
    </div>
</div>
<div class="center">
    <div class="incen">
        <img src="../img/left.png" alt="left" name="left">
        <div class="in">
            <img src="../img/usa.png" alt="usa" name="usa">
            <a href="#" name="usa">Tiếng Anh</a>
            <img src="../img/china.png" alt="china" name="china">
            <a href="#" name="china">Tiếng Hoa</a>
        </div>
        <img src="../img/right.png" alt="right" name="right">
    </div>
</div>
<div class="botton">
    
</div>