<head>
    <link rel="stylesheet" href="/css/regiter.css">
</head>
<div class="content">
    <a href="introduce">
        <img src="../img/cross.svg" alt="cross" name="cross">
    </a>
    <a href="login" name="signup">Đăng Nhập</a>
    <div class="main">
        <h1 name="login">Tạo hồ sơ</h1>
        <div class="inp">
            <div class="inp1">
                <input type="text" placeholder="Tuổi">
            </div>
            <div class="inp1">
                <input type="text" placeholder="Tên">
            </div>
            <div class="inp1">
                <input type="text" placeholder="Email hoặc tên đăng nhập">
            </div>
            <div class="inp1">
                <input type="text" placeholder="Mật khẩu">
            </div>
        </div>
        <a href="#" name="signin">Tạo tài khoản</a>
        <div class="hr">
            <hr>
            <div class="or">
                Hoặc
            </div>
        </div>
        <div class="inp5">
            <a href="#" name="fb">
                <img src="../img/f.svg" alt="Facebook" name="fb">
                FaceBook
            </a>
            <a href="#" name="gg">
                <img src="../img/google.svg" alt="Google" name="gg">
                Google
            </a>
        </div>
        <div class="botton">
            <p name="rule">Khi đăng ký tài khoản trên VOCAB là bạn đã đồng ý với các 
            <a href="#" name="rule">điều khoản và chính sách bảo mật</a> của chúng tôi.</p>
        </div>
</div>