<head>
    <link rel="stylesheet" href="/css/regiter.css">
</head>
<div class="content">
    <div class="regiter">
        <p name="name">GAME++</p>
        <table>
            <tr>
                <td>
                    <label name="user">Username :</label>
                    <input type="text" name="user" placeholder="Username">
                </td>
            </tr>
            <tr>
                <td>
                    <label name="email">Email :</label>
                    <input type="email" name="email" placeholder="Email">
                
                </td>
            </tr>
            <tr>
                <td>
                    <label name="pass">Password :</label>
                    <input type="password" name="pass" placeholder="password">
                </td>
            </tr>
        </table>
        <P name="rule">Khi đăng ký tài khoản trên GAME++ là bạn đã đồng ý với các <a href="#" name="rule">điều khoản và chính sách bảo mật</a> của chúng tôi.</P>
        
        <button type="submit" name="signup">sign up</button>

        <hr>

        <p name="or">Or login with :
        <a href="#">
            <img src="../img/facebook.png" alt="Facebook" name="fb">
        </a>
        <a href="#">
            <img src="../img/gg.png" alt="google" name="gg">
        </a>
        </p>
    </div>
</div>